/* @import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@700&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap");
:root {
  --primary-color: #0e2368;
  --secondary-color: #e23744;
  --white-color: #ffffff;
  --grey-color: #444961;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #444957;
  font-family: "Open Sans", sans-serif;
}

.primary-button {
  width: 11.875rem;
  height: 4rem;
  border-radius: 2.1rem;
  font-weight: 700;
  font-family: "Open Sans", sans-serif;
  font-size: 1.125rem;
  color: var(--white-color);
  background-color: var(--secondary-color);
  border: 0;
  letter-spacing: 0.1rem;
}

.secondary-button {
  width: 7.625rem;
  height: 2.625rem;
  border-radius: 1.3215rem;

  font-family: "Source Sans Pro", sans-serif;
  font-size: 0.9rem;
  font-weight: 600 !important;
  color: var(--grey-color);

  /* opacity: 0.5; */
  background-color: var(--white-color);
  border: 0.1rem solid var(--grey-color);
  letter-spacing: 0.07rem;
}

@media screen and (min-width: 501px) and (max-width: 1100px) {
  html {
    font-size: 13px;
  }
}

@media screen and (max-width: 500px) {
  html {
    font-size: 11px;
  }
}
